 .background img{
   
   filter: brightness(50%);
   height: 80vh;

    
    
 }
 .fonts{
    min-width: 60vh;
  
 }
 @media screen and (max-width:576px) {
.mobile-device{
    flex-direction: column;
    width: 100%;
}
.mobile-device img{
    
    width: 100%;
    
}
.optional{
    flex-direction: column;

}

}